<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/member/find-password.css">
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="container-1">
                <h2>비밀번호 찾기</h2>
                <div class="card">
                    <form action="">
                       <div class="row">
                        <div class="col">
                            <fieldset class="form-group" id="">
                                <legend tabindex="-1" class="">가입한 이메일 주소를 입력해주세요</legend>
                                <div></div>
                            </fieldset>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>  
                       </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>