<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="" href="../../static/images/member/icon.png">
    <link rel="stylesheet" href="../../static/css/member/mypage-reply.css">
</head>
<body>
    <main class="main-1">
        <h1 class="main-2">커뮤니티 작성글/댓글</h1>
        <nav class="main-3">
            <a class="main-4" href="">작성 글</a>
            <a class="main-5" href="">작성 댓글</a>
        </nav>
        <section>
            <ul>
                <li>
                    <button class="main-6">
                        <p class="main-7">작성 댓글 내용</p>
                        <p class="main-10">댓글을 단 게시글 제목</p>
                        <time datetime="2025.07.31" class="main-8">2025.07.31</time>
                    </button>
                </li>
            </ul>
            <div class="main-9">

            </div>
        </section>
    </main>
    
</body>
</html>