<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link data-vue-meta="1" rel="shortcut icon" href="../../static/images/member/icon.png">

    <link rel="stylesheet" href="../../static/font/didactgothic.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">

    <link rel="stylesheet" href="../../static/css/counselor-list/good-words-write.css">
    <title>오늘의 좋은 말 작성</title>
</head>
<body>
    <div id="__next">
        <main class="main-container e1m10pgf0">
            <div class="css-1yado2t e126z1e0">
                <h1 class="css-19g0uya e126z1e1">고수노하우 쓰기</h1>
                <div class="css-13fcep1 e126z1e2">
                    <div class="css-ufwl35 e1hb6snw0" style="padding-top: 40px;">
                        <h2 class="css-16j9ykz e1hb6snw1">상세 내용을 작성해 주세요</h2>
                        <form data-gtm-form-interact-id="0">
                            <div class="css-s3ljgk ecy19g50">
                                <fieldset class="css-1gwf777 e15o35lm0">
                                    <legend class="css-1oxufv8 e15o35lm1">본문 머리글</legend>
                                    <input name="sections.0.title" placeholder="본문 머리글을 적어주세요." maxlength="30" class="css-136tctf e15o35lm5">
                                    <div class="css-9yo8e6 e15o35lm3">
                                        <span class="css-5sb3ar e1hhhg4n0"><span class="css-esleyu e1hhhg4n1">0</span>/30</span>
                                    </div>
                                </fieldset>
                                <fieldset class="css-ngfpwr e15o35lm0">
                                    <legend class="css-1oxufv8 e15o35lm1">본문 내용</legend>
                                    <textarea name="sections.0.body" placeholder="고객들에게 알려주고 싶은 노하우를 구체적으로 적어주세요.
                                    
※ 노하우와 별개로 지나친 광고성 글은 삭제됩니다
※ 이메일, 전화번호, 카카오톡, 주소 등의 개인정보가 포함된 글은 삭제됩니다" rows="10" wrap="soft" maxlength="500" class="css-15lzlob e15o35lm8"></textarea>
                                    <div class="css-9yo8e6 e15o35lm3">
                                        <span class="css-5sb3ar e1hhhg4n0"><span class="css-esleyu e1hhhg4n1">0</span>/500</span>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="css-5oqau4 egc28qt0">
                                <p class="css-1l0infp egc28qt1">꼭 확인해 주세요!</p>
                                <ul class="css-1al63li egc28qt2">
                                    <li>등록한 고수노하우 글은 프로필에서 확인할 수 있습니다.</li>
                                    <li>고수님이 작성한 고수노하우 글은 숨고를 방문하는 모든 사람들에게 보여집니다.</li>
                                    <li>숨고 SNS채널에 고수님의 글과 프로필이 홍보될 수 있습니다.<br>(*선정 시 별도 안내 문자 발송)</li>
                                    <li>고수님이 저작권을 소유했거나 무료 배포가 허용된 사진, 동영상만 사용 가능합니다.</li>
                                    <li>노하우와 별개로 지나친 광고성 글은 삭제됩니다.</li>
                                </ul>
                            </div>
                            <div class="css-1uv9qgl e1hb6snw2">
                                <button type="submit" disabled="" class="e1hb6snw3 css-1musnfu">작성 완료</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="../../static/js/counselor-list/good-words-write.js"></script>
</html>